@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Este programa ha sido desarrollado por Alexander Goicoechea Chavarría para el Curso de Programación Web de la Universidad Estatal a Distancia, basados en los videos producidos por la página visible en <a target="_blank" href="https://www.codaffection.com/">CodAffection.com</a>
</p>
